*{
    margin: 0;
    padding: 0;
}
body{
 background-color: antiquewhite;
 text-align: center;
}
.contant{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 480px;
    width: 400px ;
 
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
 
}
.box{
height: 135px;
width: 123px;
border-radius: 1rem;
border: none;
font-size: 45px;
/* background-color: ; */
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.316);
text-align: center;

}
#rg{
    border-radius: 0.3rem;
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: rgba(213, 27, 27, 0.649);

 color:black;
}